:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}
.row-layout {
  display: flex;
}
.group {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
}
.column-layout {
  display: flex;
  flex-direction: column;
}
.group_1 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  padding: 24px 0 0;
}
.group_2 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  flex-grow: 1;
  flex-basis: 0;
}
.group_3 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 0;
  position: relative;
  padding: 25px 16px;
}
.group_4 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
}
.group_5 {
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  position: relative;
  width: 48px;
  height: 40px;
  min-width: 48px;
  min-height: 40px;
  max-width: 48px;
  max-height: 40px;
}
.group_6 {
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  position: relative;
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  max-width: 40px;
  max-height: 40px;
}
.nav-drawer {
  min-width: min-content;
  min-height: 0;
  max-width: 260px;
  flex-shrink: 0;
}
.navbar {
  --igx-navbar-background: transparent;
  height: max-content;
  min-width: min-content;
}
.view-container {
  overflow: auto;
  position: relative;
  flex-grow: 1;
}
.navbar-content {
  gap: 1rem;
}
.icon {
  --size: 24px;
  font-size: 24px;
  width: 24px;
  height: 24px;
}
.image {
  object-fit: cover;
  height: 40px;
  min-width: 0;
  min-height: 0;
  max-height: 40px;
  flex-shrink: 0;
}
.icon_1 {
  --size: 18px;
  font-size: 18px;
  width: 18px;
  height: 18px;
}
.icon_2 {
  --size: 24px;
  font-size: 24px;
  width: 24px;
  height: 24px;
  color: var(--ig-gray-700);
}
.input {
  height: max-content;
  min-width: min-content;
}
.badge {
  margin: -20px 0 0 -12px;
  width: max-content;
  height: max-content;
}
