<div class="row-layout group">
  <div class="column-layout group_1">
    <div class="row-layout group_2">
      <h3 class="h3">
        Notes
      </h3>
      <div class="row-layout group_3"></div>
    </div>
    <div class="row-layout group_4">
      <div class="column-layout group_5">
        <div class="column-layout group_6">
          <igx-input-group type="border" class="textarea">
            <textarea igxInput [(ngModel)]="value"></textarea>
          </igx-input-group>
        </div>
      </div>
    </div>
  </div>
</div>
